body{
 background:#87ceeb;
color:red;
  text-align: center;
}

h1{
  font-size:60px;
  font-family:"Arial";
}

h2{
  font-size:50px
}

button {
  font-size:30px;
  font-family:"Arial";
  border: 10px solid #008000;
  margin-bottom: 20px;
}

button:hover {
  background:blue;
}

a{
  font-size:30px
}

a:visited {
  color: #3333ff;
}

